body{
    background-color: #fff203;
}
a{
    color: inherit;
}
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
  }
a:active { 
    text-decoration: none; 
  }
.onetaplogo{
    position: relative;
    margin-top: 30px;
    height: 400px;
    width: 550px;
    max-width: 100%;
    height: auto;
}
.welcomemessage{
    position: relative;
    color: black;
    font-family: Arial;
    font-size: 20px;
}
.signinbutton{
    position: relative;
    margin-top: 50px;
    background-color: #ec3c04;
    border-radius: 80px;
    width: 300px;
    height: 60px;
    max-width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}
.officelogo{
    position: relative;
    margin-left: -200px;
    margin-top: 3px;
    height: 50px;
    width: 50px;
    max-width: 100%;
}
.signintext{
    position: relative;
    margin-top:-35px;
    margin-left: 50px;
    color: white;
    font-size: 18px;
}
.hiOTA{
    position: relative;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    width: 200px;
}
.helpdesktext{
    font-family: Arial;
    font-size: 20px;
}
.faqtext{
    font-family: Arial;
    font-size: 20px;
}

@media only screen and (min-width: 2880px){
    .onetaplogo{
        position: relative;
        margin-top: 50px;
        height: 650px;
        width: 950px;
        max-width: 100%;
        height: auto;
    }
    .welcomemessage{
        position: relative;
        font-size: 30px;
        color: black;
        font-family: Arial;
    }
    .signinbutton{
        position: relative;
        margin-top: 70px;
        background-color: #ec3c04;
        border-radius: 80px;
        width: 600px;
        height: 120px;
        max-width: 100%;
        color: white;
        border: none;
        cursor: pointer;
    }
    .officelogo{
        position: relative;
        margin-left: -400px;
        margin-top: 5px;
        height: 100px;
        width: 100px;
        max-width: 100%;
    }
    .signintext{
        position: relative;
        margin-top:-70px;
        margin-left: 90px;
        color: white;
        font-size: 35px;
    }
    .hiOTA{
        position: relative;
        margin-bottom: -60px;
        max-width: 100%;
        height: auto;
        width: 500px;
    }
    .helpdesktext{
        position: relative;
        font-size: 30px;
        font-family: Arial;
    }
    .faqtext{
        position: relative;
        font-size: 30px;
        font-family: Arial;
    }
}